    
    /********************** */
    .nav-link{
        color: aliceblue !important;
    }
    /********************** */
    .navbar-brand{
        color: aliceblue !important;
    }
    /********************** */
    .bgbk {
    background-image: url("../assets/bgs/cover_4.jpg");
    /* opacity: 0.5; */ 
    background-size: cover;
    background-color: #cccccc;
    /* background-repeat: repeat; */
    z-index: 0;
    }