    
    /********************** */
    .nav-link{
        color: aliceblue !important;
    }
    /********************** */
    .navbar-brand{
        color: aliceblue !important;
    }
    /********************** */