<br>
<label for="cars">Quantidade de Gráficos</label>

<select id="telas">
  <option value="1" name="1">1</option>
  <option value="2" name="2">2</option>
  <option value="3" name="3">3</option>
  <option value="4" name="4">4</option>
  <option value="5" name="5">5</option>
  <option value="6" name="6">6</option>
  <option value="7" name="7">7</option>
  <option value="8" name="8">8</option>
  <option value="9" name="9">9</option>
</select>

<label for="cars">Tipo de Grafico</label>

<select id="tipo">
    <option value="candle" name="candle">Candles</option>
    <option value="area" name="area">Area</option>
    <option value="bars" name="bars">Bars</option>
</select>



<!-- <div id="htmls" style="visibility: hidden;"></div> -->
<div id="htmls"></div>




<!-- Colocar este script carregando desde fora, com mesmo nome mas JS -->
<script>

// ********************************************************************************************************************************************    
var htmlDocu = '';
var qtdGraficos = '';
var tipGraficos = 'candle';
var width = '620';
var height = '750';
// ********************************************************************************************************************************************

// ********************************************************************************************************************************************
// Atualizamos os graficos de acordo com o que selecionamos nos selects ***********************************************************************
        function atualizar(params) {

            // Quantidade de Telas
            var qtdGraficos = $("#telas").val();
            // Tipo de Gráfico
            var tipGraficos = $("#tipo").val();

                // Printamos HTML
                for(j=0; j < qtdGraficos; ){  

                        // Limpamos variavel de html para nao somar indefinidamente
                        var htmlDocu;
                        if(htmlDocu == undefined){
                            htmlDocu = '';
                        }

                        // Este é o HTML que queremos printar com os parametros
                        htmlDocu += '<iframe height="'+height+'" width="'+width+'" src="https://ssltvc.forexprostools.com/?pair_ID='+j+'&height='+height+'&width='+width+'&interval=300&plotStyle='+tipGraficos+'&domain_ID=30&lang_ID=12&timezone_ID=12" frameBorder="0"></iframe>'; 
                            
                            // Este é o print do HTML
                            $("#htmls").html(htmlDocu);
                            
                    // Somamos mais um a J para incrementar quantas vezes queremos printar o iframe        
                    j++;
                }
        }
// ********************************************************************************************************************************************


// ********************************************************************************************************************************************
// Printamos a primeira tela default aqui
            if(qtdGraficos == 0){
                htmlDocu += '<iframe height="'+height+'" width="'+width+'" src="https://ssltvc.forexprostools.com/?pair_ID=01&height='+height+'&width='+width+'&interval=300&plotStyle=candle&domain_ID=30&lang_ID=12&timezone_ID=12" frameBorder="0"></iframe>';  
                $("#htmls").html(htmlDocu);
            }
// ********************************************************************************************************************************************

// ********************************************************************************************************************************************
        $( "#telas" ).change(function() {

            atualizar();
        });    
// ********************************************************************************************************************************************

// ********************************************************************************************************************************************
        $( "#tipo" ).change(function() {

            atualizar();

        });
// ********************************************************************************************************************************************


</script>